<div style="float: left; width: 150px;">
<h3>Electrons</h3>
<a href="/set-electron-params/">New Simulation</a> <br/>
<a href="/edit-electron-params/">Edit Parameters</a><br/>
<a href="/electron-jobs/1/">Jobs</a><br/>
<a href="/electron-dos/">Electron DOS</a><br/>
<br/>
<h3>Phonons</h3>
<a href="/set-phonon-params/">New Simulation</a> <br/>
<a href="/edit-phonon-params/">Edit Parameters</a><br/>
<a href="/phonon-jobs/2/">Jobs</a><br/>
<a href="/phonon-dos/">Phonon DOS</a><br/>
</div>
<div style="float: left; margin-left: 40px; width: 600px;">