/*
Blue colors:
#e5ecf9; - Light blue
#a6c3f9; - Deep-light blue
#3366cc; - Deep blue
*/

.odd {
    background-color: #e5ecf9; /* Light blue */
}

.even {
    background-color: #FFF;
    /* background-color: #f0f0f0; */
}

table.tabulated {
    border-spacing: 0pt;
    border-width: 0px;
    border-right: 1px dashed #a6c3f9;
    border-bottom: 1px solid #e5ecf9;
    width: 800px
}

table.tabulated thead td {
    font: Arial, sans-serif;
    background:  #a6c3f9; /* Deep-light blue */
    border-width: 0px;
    font-size: 15px;
    padding: 3px 10px 3px 10px;
}

table.tabulated td {
    /*text-align: center;
    "Lucida Grande", Verdana, Lucida, Helvetica,
    */
    font: Arial, sans-serif;
    border-width: 0px;
    font-size: 14px;
    border-left: 1px dashed #a6c3f9;
    padding: 3px 5px 2px 5px;
}

