
/* One needs to fake <a>
*/
a {
    text-decoration: underline;
    color: blue;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0px;
}

#rootdoc {
    width: 800px;
}

.navItemIcon {
    border: 0px;
}

#page-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#page-main {
    text-align: left;
    vertical-align: top;
}

.document-title {
    font-size: 18px;
    margin: 15px 0px 5px 0px;
}

#page-columnLeft {
    vertical-align: top;
    width: 200px
}

.portlet {
    margin-top: -10px
}

.portlet h5{
    font-size: 16px;
    margin-bottom: 7px;
}

.navItemIcon {
    padding-right: 5px
}

#page-footer {
    width: 800px;
    text-align: center;
    font-size: 14px;
    color: green;
    margin-bottom: -10px;
}

#page-credits {
    width: 800px;
    text-align: center;
    font-size: 14px;
    color:gray;
}

/* Form */

label {
    float: left;
    text-align:right;
    margin-right:0.5em;
    padding-top:0.2em;
}

#electronsedit textarea {
    height: 500px;
    width: 350px;
}

#ibrav+input input{
    width: 20px;
}
