
/* One needs to fake <a>
*/

body {
	margin: 0px;
	font-family: arial,sans-serif;
}

a {
    text-decoration: underline;
    color: blue;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0px;
}

/*
#rootdoc {
    width: 900px;
}
*/

#page {
    width: 800px;
}

.navItemIcon {
    border: 0px;
}

#page-user p {
    margin: 0px;
}

#page-nav p {
    margin: 0px;
}

#page-top {
    height: 100px;
    display: inline;
    vertical-align: top;
}

#page-logo {
    font-size: 24px;
    font-weight: bold;
    float: left;
    width: 200px;
    margin: 20px 40px;
    text-align: center;
}

#page-nav {
    width: 520px;
    float: left;
    padding: 0px;
}

#page-user {
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 50px;
}

#page-user p,
#page-user a {
    float: right;
    padding: 0px 2px;
}

/*
#page-user p #exclamation-mark {
    padding: 0px 2px 0px -2px;
}
*/

#page-menus {
    font-weight: bold;
    font-size: 17px;
}

#page-menus a{
    padding-right: 15px;
    text-decoration: none;
}
#page-path {
    clear:both;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;
}

#path-container {
    display: inline;
}

#path-container a{
    margin: 0px;
    float: left;
}

#path-container p {
    margin: 0px;
    float: left;
    padding: 0px 2px;
}

/*
#page-main {
    text-align: left;
    vertical-align: top;
}
*/

#page-main-content {
    padding-left: 20px;
}

.document-title {
    font-size: 17px;
    /* font-weight: normal;*/
    margin: 15px 0px 5px 0px;
}

#page-columnLeft {
    vertical-align: top;
    width: 200px
}

.portlet {
    margin-top: -10px
}

.portlet h5{
    font-size: 16px;
    margin-bottom: 7px;
}

.navItemIcon {
    padding-right: 5px
}

#page-footer {
    width: 800px;
    text-align: center;
    font-size: 14px;
    color: green;
    margin-bottom: -10px;
}

#page-credits {
    width: 800px;
    text-align: center;
    font-size: 14px;
    color:gray;
}

/* Form */

label {
    float: left;
    text-align:right;
    margin-right:0.5em;
    padding-top:0.2em;
}

#electronsedit textarea {
    height: 500px;
    width: 350px;
}

#phononsedit textarea {
    height: 300px;
    width: 350px;
}

#ibrav\+input,
#ecutwfc\+input,
#degauss\+input,
#nq1\+input,
#nq2\+input,
#nq3\+input{
    width:60px;
}

#occupations\+input,
#smearing\+input,
#atomic_species\+input{
    width:100px;
}

#atomic_potential {
    display: inline;
}

