
/* One needs to fake <a>
*/

body {
	margin: 0px;
	font-family: arial,sans-serif;
}

a {
    text-decoration: underline;
    color: blue;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0px;
}

.header-h2 {
    clear: both;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

p {
    text-align: justify;
}

/*
#rootdoc {
    width: 900px;
}
*/

#page {
    width: 800px;
}

.navItemIcon {
    border: 0px;
}

#page-user p {
    margin: 0px;
}

#page-nav p {
    margin: 0px;
}

#page-top {
    height: 100px;
    display: inline;
    vertical-align: top;
}

#page-logo {
    width: 400px;
    /*
    font-size: 24px;
    font-weight: bold;
    float: left;
    width: 200px;
    margin: 10px 10px;
    text-align: center;
    */
}

#page-logo-image {
    padding-left: 20px;
    padding-top: 5px;
}

#page-logo-image:hover {
    text-decoration: none;
    cursor: pointer;
}


#page-nav {
    width: 400px;
    float: left;
    padding: 0px;
}

#page-user {
    text-align: right;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 48px;
}

#page-user p,
#page-user a {
    float: right;
    padding: 0px 2px;
}

/*
#page-user p #exclamation-mark {
    padding: 0px 2px 0px -2px;
}
*/

#page-menus {
    font-weight: bold;
    font-size: 17px;
}

#page-menus a{
    padding-right: 15px;
    text-decoration: none;
}
#page-path {
    clear:both;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

#path-content {
    display: inline;
}

#path-content a{
    margin: 0px;
    float: left;
}

#path-content p {
    margin: 0px;
    float: left;
    padding: 0px 2px;
}


#page-main {
    font-size: 15px;
/*
    text-align: left;
    vertical-align: top;
*/
}


#page-main-content {
    clear: both;
    padding-left: 20px;
}

.luban-document-title {
    font-size: 17px;
    /* font-weight: normal;*/
    margin: 15px 0px 5px 0px;
}

#page-columnLeft {
    vertical-align: top;
    width: 0px;
    margin: 0px;
    padding: 0px;
}


#page-footer {
    width: 800px;
    text-align: center;
    font-size: 13px;
    color: green;
    margin-top: 30px;
    margin-bottom: -10px;
}

#page-credits-content {
    width: 800px;
    text-align: center;
    font-size: 13px;
    color:gray;
}

/* Simulations */

#create-new-simulation {
    margin-top: 10px;
    cursor:pointer;
    float: left;
    clear:both;
}

/* Table controller */
.table-controller {
    margin-top: -15px;
    margin-bottom: -5px;
}

.table-pagination {
    font-size: 14px;
    text-align: right;
    margin-top: 10px;
    vertical-align: bottom;
    width: 620px;
}

.pagination-link {
    padding-left: 10px;
    padding-bottom: -5px;
}

/* Steps */

/*
Colors:

#dcf6db - Light green
#48f640 - Deep green (border), Options: #8ff68a
#d4e4ff - Light gray
#949dad - Deep gray (border)
*/

#step-splitter {
    margin-left: 50px;
    clear: both;
}

.step-item {
    float: left;
    display: inline;
    margin-right: 20px;
    width: 155px;
}

.step-number,
.step-number-disabled {
    float: left;
    text-align: center;
    vertical-align: bottom;
    width: 30px;
    height: 26px;
    padding-top: 4px;
    font: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, Sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.step-number {
    border: 2px solid #48f640;
    background-color: #dcf6db;
    color: #48f640;
}

.step-number-disabled {
    border: 2px solid #949dad;
    background-color: #d4e4ff;
    color: #949dad;
}


.step-text,
.step-text-disabled {
    float: left;
    font: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, Sans-serif;
    font-weight: bold;
    text-align: left;
    width: 110px;
    padding-top: 3px;
    padding-left: 8px;
    /*padding-left: 10px;
    margin-top: -10px;*/
}

.step-text {
    color: #48f640;
}

.step-text-disabled {
    color: #949dad;
}

.step-content {
    clear: both;
}


.stepper {
    clear: both;
    text-align: right;
    width: 720px;
}

.stepper-item {
    cursor: pointer;
    float: right;
}

.stepper-space {
    width: 40px;
    float: right;
}

.stepper-space-next {
    width: 111px;
    float: right;
}

.stepper-space-back {
    width: 70px;
    float: right;
}


/*

.sort-by,
.sort-by-selector {
    float: left;
}


#text-or {
    margin-left: 10px;
    padding-top: 14px;
    float: left;
}

#test-after-or {
    clear:both;
}


.portlet {
    margin-top: -10px
}

.portlet h5{
    font-size: 16px;
    margin-bottom: 7px;
}

.navItemIcon {
    padding-right: 5px
}
*/


/* Form */

/*
label {
    float: left;
    text-align:right;
    margin-right:0.5em;
    padding-top:0.2em;
}

#electronsedit textarea {
    height: 500px;
    width: 350px;
}

#phononsedit textarea {
    height: 300px;
    width: 350px;
}

#ibrav\+input,
#ecutwfc\+input,
#degauss\+input,
#nq1\+input,
#nq2\+input,
#nq3\+input{
    width:60px;
}

#occupations\+input,
#smearing\+input,
#atomic_species\+input{
    width:100px;
}

#atomic_potential {
    display: inline;
}
*/
